<.header>
  New Main
  <:subtitle>Use this form to manage main records in your database.</:subtitle>
</.header>

<.main_form changeset={@changeset} action={~p"/samples"} />

<.back navigate={~p"/samples"}>Back to samples</.back>
